@using (Html.BeginForm())
{
  <div class = "padding-md">
  Find by name: @Html.TextBox("SearchString")
  <input type="submit" value="Search" />
  <span class="float-end">
    @Html.ActionLink("Add New Course", "New", "Courses", null, new { @class = "btn btn-primary" })
  </span>
</div>

}

<table class = "table">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th></th>
  </tr>
  @foreach (var course in ViewBag.courses)
  {
    <tr>
      <td>@course.Id</td>
      <td>@course.CourseName</td>
      <td>
        @Html.ActionLink("Show", "Show", new { id = course.Id }) |
        @Html.ActionLink("Edit", "Edit", new { id = course.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = course.Id })
      </td>
    </tr>
  }
</table>